@import "./variables";

h1 {
    font-size: $TitleSize;
    text-align: center;
}

/* 
====================
 calculator styling
====================
*/
.grid_layout {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "out out out out"
        "c pi e pl"
        "n7 n8 n9 mi"
        "n4 n5 n6 di"
        "n1 n2 n3 mu"
        "n0 do eq eq";
    .text_box {
        text-align: right;
        grid-area: out;
        border: 2px solid black;
        font-size: 2.5rem;
        padding-block: 10px;
        padding-right: 15px;
        overflow-x: auto;
    }
    .btn{
        border: 1px solid black;
        font-size: $ButtonFontSize;
        padding-block: 1em;
        margin: 0.05em;
        border-radius: 4px;
    }
    .btn-c{
        background-color: rgb(255, 78, 78);
        &:hover{
            background-color: rgb(230, 93, 93);
        }
    }
    .btn-dot, .btn-e, .btn-pi{
        background-color: rgb(255, 247, 134);
        &:hover{
            background-color: rgb(231, 224, 117);
        }
    }
    .btn-operation{
        background-color: rgb(112, 191, 218);
        &:hover{
            background-color: rgb(131, 204, 228);
        }
    }
    .btn-eq{
        background-color: rgb(118, 209, 118);
        &:hover{
            background-color: rgb(104, 199, 104)
        }
    }
    .btn-number{
        background-color: rgb(213, 238, 247);
        &:hover{
            background-color: rgb(196, 229, 240);
        }
    }
    .btn-number[data-text="0"] {grid-area: n0;}
    .btn-number[data-text="1"] {grid-area: n1;}
    .btn-number[data-text="2"] {grid-area: n2;}
    .btn-number[data-text="3"] {grid-area: n3;}
    .btn-number[data-text="4"] {grid-area: n4;}
    .btn-number[data-text="5"] {grid-area: n5;}
    .btn-number[data-text="6"] {grid-area: n6;}
    .btn-number[data-text="7"] {grid-area: n7;}
    .btn-number[data-text="8"] {grid-area: n8;}
    .btn-number[data-text="9"] {grid-area: n9;}
    .btn-operation[data-text="+"] {grid-area: pl;}
    .btn-operation[data-text="-"] {grid-area: mi;}
    .btn-operation[data-text="*"] {grid-area: mu;}
    .btn-operation[data-text="/"] {grid-area: di;}
    .btn-c {
        grid-area: c;
    }
    .btn-pi {
        grid-area: pi;
    }
    .btn-e {
        grid-area: e;
    }
    .btn-dot {
        grid-area: do;
    }
    .btn-eq {
        grid-area: eq;
    }
}
